<h3>Edit users</h3>
<div>
  <form (submit)="editUser(email, name, surname, permissions)" class="mb-5">
    <div class="form-group mb-2">
      <input type="email" class="form-control" id="email" name="email" placeholder="email," [(ngModel)]="email">
      <input type="text" class="form-control" id="name" name="name" placeholder="name" [(ngModel)]="name">
      <input type="text" class="form-control" id="surname" name="surname" placeholder="surname" [(ngModel)]="surname">
      <input type="text" class="form-control" id="text" name="permissions" placeholder="permissions" [(ngModel)]="permissions">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
