<div class="container">
<!--  <form name="list" class="mb-5">-->
<!--    <button type="submit" class="btn btn-primary" (click)="getAll()">Extract</button>-->
<!--  </form>-->

  <table class="table">
    <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Surname</th>
      <th scope="col">Email</th>
      <th scope="col">Permissions</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let user of users">
      <td>{{user.name}}</td>
      <td>{{user.surname}}</td>
      <td (click) = "editUser(user)">{{user.email}}</td>
      <td>{{user.permissions}}</td>
      <td *ngIf="deletePermission"><button type="delete" (click)="deleteUser(user)">Delete</button></td>
    </tr>
    </tbody>
  </table>
</div>

<div *ngIf="errorMessage != ''">
  <label style="color: red"> {{ errorMessage }} </label>
</div>

<div *ngIf="successMessage != ''">
  <label style="color: green"> {{ successMessage }} </label>
</div>

