<div class="container">
  <!--  <form name="list" class="mb-5">-->
  <!--    <button type="submit" class="btn btn-primary" (click)="getAll()">Extract</button>-->
  <!--  </form>-->


  <form name="search" (submit)="search()" class="mb-5">
    <div class="form-group">
      <label for="name">Search nodes by name  </label>
      <input type="text" class="form-control" id="name" name="name" placeholder="name" required [(ngModel)]="name"/>
      <br>
      <label for="name">Search nodes by status  </label>
      <input type="text" class="form-control" id="status" name="status" placeholder="running,stopped" [(ngModel)]="status">
      <br>
      <label for="name">Search nodes by creation date  </label>
      <input type="text" class="form-control" id="from" name="from" placeholder="from" [(ngModel)]="startDate">
      <input type="text" class="form-control" id="to" name="to" placeholder="to" [(ngModel)]="endDate">
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
  </form>

  <table class="table">
    <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Status</th>
      <th scope="col">Created At</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let node of nodes">
      <td>{{node.id}}</td>
      <td>{{node.name}}</td>
      <!-- <td (click) = "editUser(user)">{{user.email}}</td> -->
      <td>{{node.status}}</td>
      <td>{{node.created_at}}</td>
      <td *ngIf="deletePermission"><button type="delete" (click)="delete(node)">Delete</button></td>
      <td *ngIf="startPermission"><button type="start" (click)="start(node)">Start</button></td>
      <td *ngIf="stopPermission"><button type="stop" (click)="stop(node)">Stop</button></td>
      <td *ngIf="restartPermission"><button type="restart" (click)="restart(node)">Restart</button></td>
    </tr>
    </tbody>
  </table>
</div>

<div *ngIf="errorMessage != ''">
  <label style="color: red"> {{ errorMessage }} </label>
</div>

<div *ngIf="successMessage != ''">
  <label style="color: green"> {{ successMessage }} </label>
</div>

