  <h3>Login page</h3>
  <div>
    <form (submit)="login(email, password)" class="mb-5">
      <div class="form-group mb-2">
        <input type="email" class="form-control" id="email" name="email" placeholder="email" [(ngModel)]="email">
        <input type="password" class="form-control" id="password" name="password" placeholder="password" [(ngModel)]="password">
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  <div *ngIf="errorMessage != ''">
    <label style="color: red"> {{ errorMessage }} </label>
  </div>
